<div class="mdc-top-app-bar">
  <div class="mdc-top-app-bar__row">
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
      <a routerLink="" class="material-icons mdc-top-app-bar__navigation-icon">menu</a>
      <span class="mdc-top-app-bar__title">
        <img src="assets/images/logo-plain.png" />
      </span>
    </section>
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
      <a class="material-icons mdc-top-app-bar__action-item" aria-label="Home" alt="Home Page"  routerLink="">home</a>
    </section>
  </div>
</div>