
@import 'styles/variables';
@import 'styles/animation';
@import 'styles/materialize';


// import theming for all mdc components:
@import "@material/button/mdc-button";
@import "@material/textfield/mdc-text-field";
@import "@material/button/mdc-button";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/typography/mdc-typography";
@import "@material/layout-grid/mdc-layout-grid"; 
@import "@material/card/mdc-card"; 
@import "@material/icon-button/mdc-icon-button"; 

@import 'styles/card';



body {
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', cursive;
  background-color: $mdc-theme-background;
}

.brand-logo {
  img {
    height: 30px;
    vertical-align: middle;
    display: inline-block;
  }
}

.outline{
  border :1px $mdc-theme-background solid;
}