<div mdcCard [outlined]="outlined" class="custom-card">
  <a mdcCardPrimaryAction href="javascript:void(0)">
    <div class="custom-card__primary">
      <h2>Our Changing Planet</h2>
      <h3>by Tettu Sud</h3>
    </div>
    <div class="custom-card__secondary">
      Visit ten places on our planet that are undergoing the biggest changes today.
    </div>
  </a>
  <section mdcCardActions>
    <div mdcCardActionButtons>
      <button mdcButton>Read</button>
      <button mdcButton>Bookmark</button>
    </div>
    <div mdcCardActionIcons>
      <button mdcIconButton class="material-icons" labelOn="Remove from favorites" labelOff="Add to favorites" iconOn="favorite"
        iconOff="favorite_border"></button>
      <button mdcIconButton class="material-icons" title="Share">share</button>
      <button mdcIconButton class="material-icons" title="More options">more_vert</button>
    </div>
  </section>
</div>
